AssetManager/AssetManager/Service References/AMServiceReference/AssetManagerWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AssetManagerWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AssetManagerWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedPasswordReset" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>